line.slope-line{
    stroke:black
}
line.slope-line-america{
	stroke: #1f77b4;
}
line.slope-line-asia{
	stroke: #ff7f0e;
}
line.slope-line-europe{
	stroke: #2ca02c;
}
line.slope-line-osceania{
	stroke: #16182B;
}
line.slope-line-meast{
	stroke: #9467bd;
}
line.slope-line-africa{
	stroke: #d62728;
}
text.slope-label{
    fill:black;
    font: 13px Arial;
}

text.slope-label-headers{
    fill:black;
    font: 13px Arial;
    font-weight: bold;
}
.slope-label.active {
  font-weight: bold;
}
.slope-line.inactive {
  stroke: #ccc;
  stroke-opacity: .2;
  stroke-width: 2px;
}


#unadjusted_detail {
        position: absolute;
        width: 180px;
        height: auto;
        padding: 10px;
        background-color: rgba(244, 244, 244, 0.7);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        pointer-events: none;
}

#unadjusted_detail.hidden {
        display: none;
}

#unadjusted_detail p {
    color:#000;
        margin: 0;
        font-family: Arial;
        font-size: 12px;
        line-height: 15px;
}

#adjusted_detail {
        position: absolute;
        width: 180px;
        height: auto;
        padding: 10px;
        background-color: rgba(244, 244, 244, 0.7);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        pointer-events: none;
}

#adjusted_detail.hidden {
        display: none;
}

#adjusted_detail p {
    color:#000;
        margin: 0;
        font-family: Arial;
        font-size: 12px;
        line-height: 15px;
}
